/* Basic Styles */
:root {
  --color-dark-01: #131313;
  --color-dark-02: #424242;
  --color-dark-03: #727272;
  --color-dark-04: #a1a1a1;
  --color-dark-05: #d0d0d0;
  --color-dark-06: #e7e7e7;
  --color-dark-07: #f3f3f3;
  --color-white: #fff;
  --color-accent: #ff900e;
  --color-primary-background: rgba(255, 144, 14, 0.1);
  --color-secondary-background: #fff4e7;
  --border-radius: 8px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Shared Styles */

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.display-flex {
  display: flex;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-family: "Work Sans";
  color: var(--color-dark-01);
}

h1 {
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 7.5rem;
}

h2 {
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 5.3rem;
}

h3 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.3rem;
}

p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
}

@media screen and (max-width: 576px) {
  html {
    font-size: 25%;
  }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
  html {
    font-size: 40%;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  html {
    font-size: 50%;
  }
}

/* header */
header {
  background-color: var(--color-primary-background);
  margin-bottom: 0;
}

.navbar {
  padding-left: 2rem;
  padding-right: 2rem;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: var(--color-dark-02);
  font-size: 1.8rem;
  font-weight: 500;
  justify-content: space-around;
  align-items: center;
  margin-left: 30px;
}

/* Button */
.btn {
  border-radius: var(--border-radius);
  border: 0;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem 0;
  outline: 0;
  padding: 2rem 2.5rem;
  text-align: center;
  text-transform: capitalize;
  white-space: nowrap;
}

.btn--primary {
  background-color: var(--color-accent);
  color: var(--color-white);
}

/* Hero */
.hero {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  text-align: center;
}

.hero-description {
  color: var(--color-dark-03);
  max-width: 86.8rem;
  text-align: center;
}

.hero img {
  margin-top: 2rem;
  margin-bottom: 4rem;
  width: 100%;
  color: var(--color-dark-03);
}

/* Quicklist - Feature */
.quicklist {
  padding: 8.5rem;
  gap: 7.5rem;
}

.quicklist-images {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 4rem;
}

.quicklist-images img {
  width: 100%;
  border-radius: var(--border-radius);
}

.quicklist-content {
  text-align: center;
}

.quicklist-heading__primary {
  font-weight: 400;
  color: var(--color-dark-03);
}

.quicklist-heading__accent {
  color: var(--color-accent);
}

@media screen and (max-width: 969px) {
  .quicklist {
    padding: 3rem;
  }
}

@media screen and (min-width: 540px) and (max-width: 969px) {
  .quicklist-images {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 970px) {
  .quicklist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .quicklist-images {
    grid-template-columns: 1fr 1fr;
  }

  .quicklist-content {
    max-width: 53rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-self: center;
  }

  .quicklist-content .btn {
    justify-content: flex-start;
    width: fit-content;
  }
}

/* Feature */

.feature-title {
  border-top: 2px solid var(--color-accent);
  border-bottom: 2px solid var(--color-accent);
  padding-left: 2.1rem;
  margin: 0 auto;
  max-width: 47rem;
}

.feature-description {
  text-align: center;
  color: var(--color-dark-03);
  padding: 0 5rem;
}

.feature-title__2 {
  display: none;
}

.feature-description__2 {
  display: none;
}

.feature {
  flex-direction: column-reverse;
}

.feature-card:first-child {
  margin-top: 10rem;
}

.feature-content {
  margin-left: 3rem;
  margin-right: 3rem;
}

.feature-card {
  box-shadow: 0px 4px 30px 0 rgba(0, 0, 0, 0.06);
  border-radius: var(--border-radius);
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.feature-image {
  text-align: center;
  margin-bottom: 8rem;
  position: relative;
  display: inline-block;
}

.feature-image img {
  width: 50%;
}

.badge {
  background-color: var(--color-accent);
  width: fit-content;
  border-radius: var(--border-radius);
  padding: 4.2rem 4.6rem;
  color: var(--color-white);
  position: absolute;
  bottom: -6%;
  left: 10%;
}

.badge-head {
  margin: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 6.5rem;
  font-weight: 700;
}

.badge-tag {
  font-size: 2.5rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1380px) {
  .feature {
    gap: 2rem;
    flex-direction: row;
  }

  .feature-content {
    max-width: 586px;
  }

  .feature-title {
    display: none;
  }

  .feature-description {
    display: none;
  }

  .feature-title__2 {
    display: block;
    border-top: 0;
    border-bottom: 0;
    border-left: 2px solid var(--color-accent);
    padding-left: 2.1rem;
    max-width: 47rem;
  }

  .feature-description__2 {
    display: block;
    text-align: left;
    color: var(--color-dark-03);
  }

  .feature-image {
    align-self: flex-end;
  }

  .feature-image img {
    margin-left: 10rem;
    width: 100%;
  }
  .badge {
    background-color: var(--color-accent);
    width: fit-content;
    border-radius: var(--border-radius);
    padding: 4.6rem;
    color: var(--color-white);
    position: absolute;
    bottom: -5%;
    left: -2%;
  }

  .badge-head {
    margin: 0;
    padding-top: 2rem;
    font-size: 6.5rem;
    font-weight: 700;
  }

  .badge-tag {
    font-size: 2.5rem;
    font-weight: 500;
  }
}

/* Some-Facts Section */
.some-facts {
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.some-facts--heading {
  max-width: 258px;
}

.some-facts--description {
  max-width: 548px;
  margin-bottom: 5rem;
}

.some-facts--cards {
  flex-direction: column;
  gap: 4rem;
}

.some-facts--card {
  width: 240px;
  height: 240px;
  border: 1px solid var(--color-accent);
  border-radius: var(--border-radius);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem 3rem;
}

.some-facts--card__img {
  width: 45px;
  height: 45px;
}

@media screen and (min-width: 992px) {
  .some-facts {
    text-align: left;
    align-items: flex-start;
  }

  .some-facts--heading {
    margin-bottom: 3rem;
    padding-left: 3rem;
  }

  .some-facts--description {
    padding-left: 3rem;
  }

  .some-facts--cards {
    flex-direction: row;
    gap: 4rem;
    max-width: 95%;
    align-self: center;
    margin-top: 5rem;
  }

  .some-facts--card {
    width: 240px;
    height: 240px;
    border: 1px solid var(--color-accent);
    border-radius: var(--border-radius);
    gap: 0rem;
    flex-direction: column;
    padding: 3rem 3rem;
    max-width: 25%;
    text-align: center;
  }

  .some-facts--card__heading {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
