/* Basic Styles */
:root {
  --color-dark-01: #131313;
  --color-dark-02: #424242;
  --color-dark-03: #727272;
  --color-dark-04: #A1A1A1;
  --color-dark-05: #D0D0D0;
  --color-dark-06: #E7E7E7;
  --color-dark-07: #F3F3F3;
  --color-accent: #FF900E;
  --color-hero-background: rgba(255, 144, 14, 0.1);
  --color-footer-background: #FFF4E7;
  --color-white: #fff;
  --border-radius: 8px;
}

*, *::after, *::before {
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
    font-family: "Work Sans";
    color: var(--color-dark-01);
}

h1, h2, h3 {
    margin-bottom: 1rem;
    line-height: 1.1;
}

h1 {
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 7.5rem;
}

h2 {
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 5.3rem;
}

h3 {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.3rem;
}

p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.6rem;
}

